<div class="center hero-unit">
  <h1>Welcome to CoinStats</h1>

  <h2>
    Information on BitCoin
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<<div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" <%= image_tag "ico_network.svg" %>
          <h2>Participate</h2>
          <p>Bitcoin is a protocol that was born from a small community and has grown fast since. There are a lot of things you can do to help Bitcoin to spread and improve over time.Checkout out the tutorial page when you sign up</p>
        	 <% if signed_in? %>
        	 <%= link_to "View details", tutorial_path, :class => "btn" %>
       			<% else %>
        		 <%= link_to "View details", signin_path, :class => "btn" %>
        	 <% end %>
        </div>
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" <%= image_tag "ico_mining.svg" %>
          <h2>Mining</h2>
          <p>You can start mining bitcoins to help processing transactions. In order to protect the network, you should join smaller mining pools and prefer decentralized pools like P2Pool or pools with getblocktemplate (GBT) support.</p>
        	 <% if signed_in? %>
        	 <%= link_to "View details", tutorial_path, :class => "btn" %>
       			<% else %>
        		 <%= link_to "View details", signin_path, :class => "btn" %>
        	 <% end %>
        </div>
         <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" <%= image_tag "ico_spread.svg" %>
          <h2>Spread</h2>
          <p>Speak about Bitcoin to interested people. Write about it on your blog. Tell your favorite shops you would like to pay with Bitcoin. Help keeping merchant directories up to date. Or be creative and make yourself a nice Bitcoin T-shirt.</p>
        	 <% if signed_in? %>
        	 <%= link_to "View details", tutorial_path, :class => "btn" %>
       			<% else %>
        		 <%= link_to "View details", signin_path, :class => "btn" %>
        	 <% end %>
        </div>
      </div><!-- /.row -->
    </div>
