<% provide(:title, 'Tutorial') %>
  <div class="body">
    <div id="content" class="content">
    <h1>Support Bitcoin</h1>
<p class="summarytxt">Bitcoin is a protocol that was born from a small community and has grown fast since. There are a lot of things you can do to help Bitcoin to spread and improve over time.</p>

    <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_network.svg" %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Be the network</h4>
     				<p>You can join the Bitcoin network by keeping <a href="/en/download">full node software</a> running on your computer or dedicated server. Full nodes are securing and relaying all users' transactions. They can be compared to the backbone of the network.</p>
                 </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_mining.svg" %>
                </a>
                <div class="media-body">
                	
                  <h4 class="media-heading">Mining</h4>
     			<p>You can start <a href="http://www.bitcoinmining.com/">mining bitcoins</a> to help processing transactions. In order to protect the network, you should join <a href="https://blockchain.info/pools">smaller mining pools</a> and prefer decentralized pools like <a href="http://p2pool.in/">P2Pool</a> or <a href="https://en.bitcoin.it/wiki/Comparison_of_mining_pools">pools</a> with getblocktemplate (GBT) support.</p>
                 </div>
             </li>
             <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_translate.svg" %>
             </a>
                <div class="media-body">
                  <h4 class="media-heading">Translate</h4>
     			<p>You can help to increase Bitcoin availability by translating or improving translations inside important parts of the Bitcoin ecosystem. Just pick a project you would like to help.</p>
                 </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_conf.svg" %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Development</h4>
     				<p>Bitcoin is free software. So if you are a developer, you can use your super-powers to do good and <a href="/en/development">improve Bitcoin</a>. Or you can build amazing new services or software that can use Bitcoin.</p>
                 </div>
             </li>
             <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_donate.svg" %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Donation</h4>
     				<p>The easiest way to help is to <a href="https://bitcoinfoundation.org/donate">donate</a> a few bitcoins to the Bitcoin Foundation. Or you can help directly fund any project related to Bitcoin that you believe will be helpful in the future.</p>
                 </div>
             </li>
             <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_law.svg" %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Organizations</h4>
     				<p>The <a href="https://bitcoinfoundation.org/">Bitcoin Foundation</a> and many other <a href="/en/community#non-profit">non-profit organizations</a> are dedicated to protecting and promoting Bitcoin. You can help these groups by joining them and taking part in their projects, discussions and events.</p>
                 </div>
             </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_spread.svg" %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Spread</h4>
                  <p>Speak about Bitcoin to interested people. Write about it on your blog. Tell your favorite shops you would like to pay with Bitcoin. Help keeping <a href="http://usebitcoins.info/">merchant directories</a> up to date. Or be creative and make yourself a nice Bitcoin T-shirt.</p>
     				</div>
             </li>
              
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_wiki.svg" %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Wiki</h4>
     				<p>The <a href="https://en.bitcoin.it/">Bitcoin wiki</a> is full of useful and detailed information and we are constantly improving the information it contains - just like Wikipedia. You can help keep the wiki accurate and up-to-date.</a>
                 </div>
             </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" <%= image_tag "ico_help.svg" %>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Meet the communities</h4>
     				<p>You can join Bitcoin <a href="/en/community">communities</a> and talk with other Bitcoin enthusiasts. You can learn more about Bitcoin every day, give help to new users and get involved in interesting projects.</p>
                 </div>
             </li>
            </ul>